/*typography*/
    /*for : body*/
    /*weights : 400, 500*/
    /*font-family: 'Rubik', sans-serif;*/
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/*end of typography*/

:root {
    /*color scheme*/
        /*Primary*/
            --soft-blue:hsl(231, 69%, 60%);
            --soft-red:hsl(0, 94%, 66%);
        /*Netural*/    
            --grayish-blue:hsl(229, 8%, 60%);
            --very-dark-blue:hsl(229, 31%, 21%);
    /*End of color scheme*/
}


/*default styles / resets*/

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size:18px;
    line-height:1.4;
    /* scroll-behavior: smooth; */
}

body {
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
}

img {
    display:block;
    max-width:100%;
}

ul { 
    list-style:none;
 }
   
a { 
    color:currentColor;
    text-decoration:none;
 }

h1 {
    color:var(--very-dark-blue);
}

h2 {
    font-size:1.25rem;
}

h1, h2, h3,
h4 h5, h6 {
    font-weight:500;
}

p {
    color:var(--grayish-blue);
}


.navbar {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 1.5rem 0 3.5rem 0;
}

.navbar__logo {
    width:8.25rem;
    height:1.5rem;
    margin-left: 10%;
 } 

.navbar__hamburger-menu {
    position: relative;
    margin-right: 10%;
 }

/*navbar__hover-menu*/
.navbar__hover-menu  {
    display:none;
    z-index:-999;
}

.menu-open {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index:999;
}

.navbar__hover-menu {
    position: absolute;
    top:5rem;
    width:100%;
    height:90vh;
    background-color:blue;
    background-color: hsla(231, 69%, 20%, 85%);
}

.navbar__hover-menu__items {
    padding:0;
    margin:0;
}    

.navbar__hover-menu__item {
    position: relative;
    text-align:center;
    font-size:1.25rem;
    color:white;
    margin:2.5rem 0;
}

.navbar__hover-menu__item::before {
    content:'';
    position: absolute;
    width:80%;
    height:2px;
    top:-75%;
    left:50%;
    transform:translateX(-50%);
    
    background-color: gray;
    opacity:0.35;
} 

.navbar__hover-menu__item:last-of-type {
    padding:0.25rem 0;
    width:80%;
    margin:1.5rem auto;
    border-radius:5px;
    border:2px solid white;
}

/*fixed bug where the before divider / lines
  are smaller than the other divider / lines*/
.navbar__hover-menu__item:last-of-type:before {
    width:100%;
}

.navbar__social-links {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

    margin-bottom:3rem;
}

.navbar__social-link {
    margin:0 1rem;
}


/*hamburger active menu*/
    /*navbar*/
    .navbar.menu-open-navbar {
        background-color:blue;
        background-color: hsla(231, 69%, 20%, 85%);
    }
    /*navbar logo*/
    .navbar__logo__text.menu-open-navbar {
        fill:#fff;
     }
    
     .navbar__logo__background.menu-open-navbar {
         fill:#fff;
     }
     
     .navbar__logo__foreground.menu-open-navbar {
        fill:#000;
    }

    /*prevent body from scrolling on mobile*/
    /*use a diffrent solution for tablet & desktop*/
    body.menu-open-navbar {
        position:fixed;
    }

/*#####################*/


 /*main*/
.main-content {
    margin-bottom:7.5rem;
    text-align: center;
}

.main-content__hero-img-container {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
    margin-bottom:2.5rem;
}

.main-content__hero-img-container::before {
    content:'';
    position: absolute;
    width:100%;
    height:85%;
    left:25%;
    top:15%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color:blue;
    background-color:var(--soft-blue);
}

 .main-content__hero-img {
    position: relative;
    width:90%;
    margin:0 auto;
 }


 /*hero image background shape overlay*/
 /* .hero-img-overlay {
    position: absolute;
    width:100%;
    height:100%;

    background-color: rebeccapurple;
 } */
 /* .main-content__hero-img::after {
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    background-color: rebeccapurple;
    background-image: url("help-files/images/logo-bookmark.svg");
 }
 */

.main-content__h1 {
    font-size:1.6rem;
    font-weight:500;
}

.main-content__text {
    margin:0 auto 2rem auto;
    font-size:0.80rem;
    font-weight:400;
    line-height: 1.6;
    width:30ch;
}

.btn-main-content {
    margin:0 0.25rem;
}


/*features-tabby*/
.features-tabby {
    margin-bottom:7.5rem;
    text-align: center;
}

.features-tabby__header {
    font-size:1.25rem;
    /*margin : top, right, bottom, left*/
    margin:4rem 0 0.5rem 0;
}

.features-tabby__text {
    font-size:0.75rem;
    line-height: 1.6;
    margin:0 auto;
    width:32ch;
}

.features-tabby__titles {
    position: relative;
    font-size:0.8rem;
    margin:2.5rem 0 5rem 0;
}

.features-tabby__title {
    position: relative;
    color:gray;
    color:var(--grayish-blue);
    font-weight:400;
    padding:0.5rem 0;
}

/* when the item is selected apply this class*/
.features-tabby__title-selected {
    color:black;
    color:var(--very-dark-blue);
    font-weight:500;
}

/* .features-tabby__title::before is
every line except for the last line*/
.features-tabby__title::before,
/*.features-tabby__titles::before is
the last line*/
.features-tabby__titles::before {
    content:'';
    position: absolute;
    width:90%;
    height:1px;
    left:50%;
    transform: translateX(-50%);
    background-color:gray;
    background-color:hsl(0, 0%, 85%);
}

/*lines in between the features-tabby__title*/
.features-tabby__title::before {
    top:-25%;
}

/*the last line in (after Easy Sharing)*/
.features-tabby__titles::before {
    top:105%;
}

.features-tabby__title-selected::after {
    content:'';
    position: absolute;
    width:30%;
    height:5px;
    top:115%;
    left:50%;
    transform:translateX(-50%);
    background-color:red;
    background-color:var(--soft-red);
}


/*features-tabby__content*/
.features-tabby__content {
    /* background-color:red;  */
}

.features-tabby-content-img-container {
    position: relative;
    width:100%;
    height:100%;
}

.features-tabby-content-img-container::before {
    content:'';
    position: absolute;
    width:100%;
    height:85%;
    right:20%;
    top:30%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color:blue;
    background-color:var(--soft-blue);
}

.features-tabby-content-img {
    position: relative;
    margin:0 auto;
    width:85%;
}

/*download-extension*/
.download-extension {
    text-align: center;
    margin-bottom:7.5rem;
}

.download-extension__words {
    margin-bottom:1.5rem;
}

.download-extension__header {
    font-size:1.25rem;
}

.download-extension__text {
    font-size:0.75rem;
    margin:0 auto;
    line-height:1.6;
    width:30ch;
}


/*.download-extension__card*/
.download-extension__card {
    position: relative;
    box-shadow: 0 5px 8px #ddd;
    border-radius:10px;
    margin:0 auto 3rem auto;
    padding:1rem 0;
    width:60%;
} 


/*cards background dots*/ 
.download-extension__card::before {
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;

    background-repeat: no-repeat;
    background-position:center 70%;
    background-image:url("help-files/images/bg-dots.svg");
} 

.download-extension__card-img {
    margin:0 auto;
    width:4rem;
    height:auto; 
}

.download-extension__card__header {  
    font-size:0.85rem;
    margin-bottom:-0.25rem;
}

.download-extension__card__text {
    font-size:0.65rem;
    letter-spacing: 0.5px;
    margin-bottom:3rem;
}


/*FAQ*/
.FAQ {
    margin-bottom:7.5rem;
    text-align: center;
    /* background-color: gray; */
}

.FAQ__words {
    margin-bottom:2rem;
    /* background-color: gray; */
}

.FAQ__header {
    font-weight:500;
    font-size:1.25rem;
}

.FAQ__header span {
     display:block;
     /*desktop display : display:block*/
}

.FAQ__text {
    font-size:0.8rem;
    line-height: 1.8;
    margin:0 auto;
    width:32ch;
}

/*accordion*/
.FAQ__accordion {
    /* background-color:gold; */
    margin-bottom:2rem;
}

.FAQ__accordion__tab {
    position: relative;
    /* background-color: hotpink; */
}


/*lines between FAQ__accordion__tab */
.FAQ__accordion__tab::before,
.FAQ__accordion__tab:last-of-type::after   {
    content:'';
    position: absolute;
    width:90%;
    height:1px;
    left:50%;
    transform:translateX(-50%);
    background-color:gray;
    background-color:hsl(0, 0%, 85%);
}

.FAQ__accordion__tab:first-of-type::before {
    content:'';
    position: absolute;
    width:80%;
    height:0px;
    left:0;
    background-color:transparent;
}

.FAQ__accordion__header {
    /* background-color: rgb(185, 30, 133); */
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 1rem;   
}

.FAQ__accordion__h4 {
    font-size:calc(0.65rem + 0.85vw);
    font-weight:400;
    color:var(--very-dark-blue);   
}
/*add to the .icon-arrow__arrow
 when you selected the .FAQ__accordion__h4*/
.FAQ__accordion--selected  {
    stroke:#f11;
    transform-origin: center;
    transform: rotate(180deg);
}

.FAQ__accordion__text {
    text-align:left;
    font-size:0.85rem;
    line-height: 1.95;
    color:var(--grayish-blue);
    padding:0 1rem;
    margin-bottom:1.5rem;
}



/* 
.features-tabby__header {
    font-size:1rem;
    margin:2rem 0 0.5rem 0;
}

.features-tabby__text {
    font-size:0.75rem;
    line-height: 1.6;
    margin:0 auto;
    width:32ch;
}


.features-tabby__titles {
    font-size:0.8rem;
    margin:2.5rem 0 5rem 0;
}

.features-tabby__title {
    position: relative;
    font-weight:400;
    padding:0.5rem 0;
} */




/*newsletter*/
.newsletter {
    background-color:blue;
    background-color:var(--soft-blue);
    color:white;
    text-align:center;

    padding:3rem 0;
}

.newsletter__h3 {
    font-size:0.75rem;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing:3px;

    margin-bottom:-0.5rem;
}

.newsletter__header {
    font-size:1.25rem;
    font-weight:500;
    line-height:1.2;
    
    margin-bottom:1.5rem;
}

.newsletter__header span {
    display:block;
}

.newsletter__form {
    position: relative;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.newsletter__input {
    position: relative;
    width:80%;
    height:2.5rem;
    border:none;
    border-radius: 5px;
    
    z-index:300;
    margin-bottom:0.75rem;
}

.newsletter__input.newsletter--warning-msg-on {
    border: solid 2px  red;
    border: solid 2px  var(--soft-red);

    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-image:url("help-files/images/icon-error.svg");
}

.newsletter__input-warning {
    position: relative;
    width:80%;
    font-size:0.6rem;
    font-style: italic;
    text-align: left;
    letter-spacing: 0.4px;
    background-color:red;
    background-color:var(--soft-red);  
    border-radius: 5px;
    padding:0.6rem 0rem 0.3rem 0.6rem;

    z-index:200;
    transform:translateY(-52px);
    transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
    
}
/* transform:translateY(-52px) --> hidden */
/* transform:translateY(-22px) --> visable */

.newsletter__input-warning.newsletter--warning-msg-on {
    transform:translateY(-22px);
    transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}

.newsletter__input::placeholder {
    color:rgba(0, 0, 0, 0.35);
    padding-left:5%;
}


/*footer*/
.footer {
    color:white;
    color:var(--grayish-blue);
    background-color:black;
    background-color:var(--very-dark-blue);

    display:flex;
    flex-direction: column;
    align-items:center;

    padding-bottom:2.0rem;
}

.footer__logo {
    margin-top:2rem; 
}

.footer__logo__text {
    fill:#fff;
}

.footer-menu__items {
    color:white;
    color:hsl(0, 0%, 85%);
    margin-top:1.0rem;
    padding:0;
    text-align: center;
}

.footer-menu__item {
    font-size:0.8rem;
    letter-spacing: 1.85px;
    padding:0.85rem 0;
    
}

.footer__social-links {
    display:flex;
    flex-direction: row;
}

.footer__social-link {
    margin:0 0.85rem;
    align-self:center;
    /* width:25px; */
    transform:scale(0.85);
}


 /*utilities*/
    /*button styles*/
    .btn {
        font-family: 'Rubik', sans-serif;
        font-size: 0.65rem;
        letter-spacing: 0.75px;
        border:none;
        color:white;
        border-radius: 5px;
        width:7.5rem;
        height:2.5rem;        
    }

    .btn--blue {
        color:white;
        background-color:var(--soft-blue);
        box-shadow:0px 2px 5px #dcdc;
        font-weight:500;
    }

    .btn--blue--long {
        color:white;
        background-color:var(--soft-blue);
        box-shadow:0px 2px 5px #dcdc;
        height:2.25rem;
        width:10.25rem;
        
        font-weight:400;
    }
   
    .btn--grey {
        color:black;
        color:var(--darkish-grayish-blue);
        box-shadow:0px 4px 7px #dcdc;
        font-weight:500;
    }

    .btn--red {
        color:white;
        background-color:var(--soft-red);
    }
    /*######*/
    .btn--newsletter {
        width:80%;
    }

    .btn--more-info {
        width:5.85rem;
        letter-spacing: 1px;
    }
    /*end of button styles*/
 /* end of utilities*/