/*typography*/
    /*for : body*/
    /*weights : 400, 500*/
    /*font-family: 'Rubik', sans-serif;*/
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/*end of typography*/

:root {
    /*color scheme*/
        /*Primary*/
            --soft-blue:hsl(231, 69%, 60%);
            --soft-red:hsl(0, 94%, 66%);
        /*Netural*/    
            --grayish-blue:hsl(229, 8%, 60%);
            --very-dark-blue:hsl(229, 31%, 21%);
    /*End of color scheme*/
}


/*default styles / resets*/

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size:18px;
    line-height:1.4;
    /* scroll-behavior: smooth; */
}

body {
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
}

img {
    display:block;
    max-width:100%;
}

ul { 
    list-style:none;
 }


    
a { 
    color:currentColor;
    text-decoration:none;
 }


h1 {
    color:var(--very-dark-blue);
}

h1, h2, h3,
h4 h5, h6 {
    font-weight:500;
}

p {
    color:var(--grayish-blue);
}


.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(50,50,50,0.15); */
    width:100%;
    margin: 1rem 0 2.5rem 0;
    position: relative;
}

 .navbar__logo {
     width:7.5rem;
     height:auto;
     margin-left: 10%;
 }

 .navbar__hamburger-menu {
    width:1rem;
    height:auto;
    margin-right: 10%;
 }

/*navbar__hover-menu*/

.navbar__hover-menu  {
    display:none;
}

/* .navbar__hover-menu {
    position: absolute;
    top:5vh;
    width:100%;
    height:95vh;
    background-color:blue;
    background-color: hsla(231, 69%, 60%,100%);
    
} */

/* .navbar__hover-menu__items {
    padding:0;
    margin:0;
}    

.navbar__hover-menu__item {
    text-align:center;
    font-size:1.25rem;
    color:white;
    padding:1rem 0;
}

.navbar__hover-menu__item::before {
    content:'';
    position: absolute;
    width:80%;
    height:2px;
    top:7px;
    left:50%;
    transform:translateX(-50%);
    
    background-color: red;
} */


.navbar__social-links {
    display:flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: green; */
}

.navbar__social-link {
    margin:0 1rem;
}


 /*main*/

.main-content {
    margin-bottom:7.5rem;
    text-align: center;
}

.main-content__hero-img-container {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
    margin-bottom:2.5rem;
}

.main-content__hero-img-container::before {
    content:'';
    position: absolute;
    width:100%;
    height:85%;
    left:25%;
    top:15%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color:blue;
    background-color:var(--soft-blue);
}

 .main-content__hero-img {
    position: relative;
    width:90%;
    margin:0 auto;
 }

 /*hero image background shape overlay*/
 /* .hero-img-overlay {
    position: absolute;
    width:100%;
    height:100%;

    background-color: rebeccapurple;
 } */
 /* .main-content__hero-img::after {
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    background-color: rebeccapurple;
    background-image: url("help-files/images/logo-bookmark.svg");
 }     */

.main-content__h1 {
    font-size:1.6rem;
    font-weight:500;
}


.main-content__text {
    margin:0 auto 2rem auto;
    font-size:0.80rem;
    font-weight:400;
    line-height: 1.6;
    width:30ch;
}


/*features-tabby*/
.features-tabby {
    margin-bottom:7.5rem;
    text-align: center;
}

.features-tabby__header {
    font-size:1rem;
    /*margin : top, right, bottom, left*/
    margin:2rem 0 0.5rem 0;
}

.features-tabby__text {
    font-size:0.75rem;
    line-height: 1.6;
    margin:0 auto;
    width:32ch;
}


.features-tabby__titles {
    font-size:0.8rem;
    margin:2.5rem 0 5rem 0;
}

.features-tabby__title {
    position: relative;
    font-weight:400;
    padding:0.5rem 0;
}

/* when the item is selected apply this class*/
.features-tabby__title-selected {
    font-weight:500;
}

.features-tabby__title-selected::after {
    content:'';
    position: absolute;
    width:35%;
    /*INSTEAD OF MARGIN LEFT SHOULD USE LEFT AND TRANSFORM:TRANSLATE*/
    margin-left:33%;
    height:4px;
    top:122%; 
    transform:translateY(-122%);
    
    left:0;
    background-color:red;
    background-color:var(--soft-red);
}


/*line thats at the top / the first one*/
 .features-tabby__title:first-of-type::before {
    content:'';
    position: absolute;
    width:80%;
    margin-left:10%;
    height:1px;
    top:-30%; 
    transform:translateY(30%);
    
    left:0;
    background-color:hsl(0,0%,88%);
} 


/*line in the middle*/
.features-tabby__title + .features-tabby__title::before {
    content:'';
    position: absolute;
    width:80%;
    margin-left:10%;
    height:1px;
    top:-30%; 
    transform:translateY(30%);
    
    left:0;
    background-color:hsl(0, 0%, 88%);
    
}


/*line thats at the bottom / the last one*/
.features-tabby__title:last-of-type::after {
    content:'';
    position: absolute;
    width:80%;
    margin-left:10%;
    height:1px;
    top:120%; 
    transform:translateY(-120%);
    
    left:0;
    background-color:hsl(0, 0%, 88%);
} 


/*features-tabby__content*/
.features-tabby__content {
    /* background-color:red; */
    
}

.features-tabby-content-img-container {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}

.features-tabby-content-img-container::before {
    content:'';
    position: absolute;
    width:100%;
    height:85%;
    right:25%;
    top:15%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color:blue;
    background-color:var(--soft-blue);
}

.features-tabby-content-img {
    position: relative;
    margin:0 auto;
    width:85%;
}

/*download-extension*/
.download-extension {
    text-align: center;
    margin-bottom:7.5rem;
}

.download-extension__words {
    margin-bottom:1.5rem;
}

.download-extension__header {
    font-size:1rem;
}

.download-extension__text {
    font-size:0.75rem;
    margin:0 auto;
    line-height:1.6;
    width:30ch;
}


/*.download-extension__card*/
.download-extension__card {
    position: relative;
    box-shadow: 0 5px 8px #ddd;
    border-radius:10px;
    margin:0 auto 3rem auto;
    padding:1rem 0;
    width:60%;
} 


/*cards background dots*/ 
.download-extension__card::before {
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;

    background-repeat: no-repeat;
    background-position:center 70%;
    background-image:url("help-files/images/bg-dots.svg");
} 



.download-extension__card-img {
    margin:0 auto;
    width:4rem;
    height:auto; 
}

.download-extension__card__header {
    
    font-size:0.85rem;
    margin-bottom:-0.25rem;
}

.download-extension__card__text {
    font-size:0.65rem;
    letter-spacing: 0.5px;
    margin-bottom:3rem;
}




/*FAQ*/
.FAQ {
    margin-bottom:7.5rem;
    text-align: center;
    /* background-color: gray; */
}

.FAQ__words {
    margin-bottom:3.5rem;
    /* background-color: gray; */
}

.FAQ__header {
    font-weight:500;
    font-size:1.1rem;
}

.FAQ__header span {
     display:block;
     /*desktop display : display:block*/
}

.FAQ__text {
    font-size:0.8rem;
    line-height: 1.4;
    margin:0 auto;
    width:32ch;
}

/*accordion*/


.FAQ__accordion {
    /* background-color:gold; */
    margin-bottom:2rem;
}

.FAQ__accordion__tab {
    /* background-color: hotpink; */
}

.FAQ__accordion__header {
    /* background-color: rgb(185, 30, 133); */
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 1rem;
    
}



.FAQ__accordion__h4 {
    font-size:0.9rem;
    font-weight:400;
    color:var(--very-dark-blue);
    
}

.FAQ__accordion__text {
    text-align:left;
    font-size:0.85rem;
    color:var(--grayish-blue);
    padding:0 1rem;
}

/* 
.features-tabby__header {
    font-size:1rem;
    margin:2rem 0 0.5rem 0;
}

.features-tabby__text {
    font-size:0.75rem;
    line-height: 1.6;
    margin:0 auto;
    width:32ch;
}


.features-tabby__titles {
    font-size:0.8rem;
    margin:2.5rem 0 5rem 0;
}

.features-tabby__title {
    position: relative;
    font-weight:400;
    padding:0.5rem 0;
} */









 /*utilities*/
    /*button styles*/
    .btn {
        font-family: 'Rubik', sans-serif;
        font-size: 0.65rem;
        letter-spacing: 0.75px;
        border:none;
        color:white;
        border-radius: 5px;
        width:7.5rem;
        height:2.5rem;        
    }

    .btn--blue {
        color:white;
        background-color:var(--soft-blue);
        box-shadow:0px 2px 5px #dcdc;
    }

    .btn--blue--long {
        color:white;
        background-color:var(--soft-blue);
        box-shadow:0px 2px 5px #dcdc;
        height:2.25rem;
        width:10.25rem;
        
        font-weight:400;
    }
   
    .btn--grey {
        color:black;
        box-shadow:0px 4px 7px #dcdc;
    }

    .btn--red {
        color:white;
        background-color:var(--soft-red);
    }
    /*end of button styles*/
 /* end of utilities*/